<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mongolo,</h1>
    <p>Bienvenido a: <%= title %></p>
  </body>
</html>
